<header>
  <%= image_tag "Burger_King_Logo.svg", id: "header_logo" %>
  <nav>
    <p>About Me</p>
    <p>Experience</p>
    <p>What can I do for you?</p>
    <p>Contact</p>
  </nav>
</header>
<body>

</body>