/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Josefin Slab', serif;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: #FAFAFA;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#header_logo {
  position: absolute;
  top:5%;
  left: 5%;
  height: 68px;
  width: auto;
}

  #header-logo-small {
    display: none;
  }

header * {
  display: inline-block;
}

header nav {
  position: absolute;
  right: 5%;
  height: 100%;
  padding-left: 200px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  line-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

#do-scroll-small {
  display: none;
}

header nav a:hover {
  color: #851E2C;
}

body {
  margin: 0px 0px 0px 0px;
  padding-top: 75px;
  background-color: #2B2B2B;
}

body a {
  text-decoration: none;
  color: #2B2B2B;
}

#landing_banner_img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.landing_section {
  width: 100%;
  display: block;
  padding-bottom: 30px;
}


.landing_section h1 {
  text-align: center;
  margin: auto;
  color: #D4D4D4;
  padding-top: 30px;
  width: 95%;
}


#section_first {
  margin-top: -5px;
}

.landing_section p {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  color: #D4D4D4;
  width: 70%;
  font-size: 1.1em;
}

.no_decoration {
   text-decoration: none;
}

.landing_section:hover {
/*  -moz-box-shadow: inset 0 0 30px #001D56;
  -webkit-box-shadow: inset 0 0 30px #001D56;
  box-shadow: inset 0 0 30px #001D56;*/
/*  color: #001D56;
  transition: 1s;*/
}

.underline {
  width: 70%;
  border-bottom: 2px solid #922d2a;
  margin: auto;
  margin-top: 10px;
}

#underline_forty {
  width: 40%;
}

#underline_thirtyfive {
  width: 35%;
}

#section_second {
  background-color: #FAFAFA;
  padding-bottom: 50px;
}

#section_second h1 {
  text-align: center;
  margin: auto;
  color: #2B2B2B;
  padding-top: 30px;
}

#section_second:hover {
/*  -moz-box-shadow: inset 0 0 30px #851E2C;
  -webkit-box-shadow: inset 0 0 30px #851E2C;
  box-shadow: inset 0 0 30px #851E2C;*/
/*  color: #851E2C;
  transition: 1s;*/
}

#section_second h1 {
  color: #36454F;
}

#body_cont {
  width: 80%;
  margin: auto;
}

.body_logo {
  width: 15%;
  height: auto;
  margin-left: 13.5%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.body_logo:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 2s;
}

.logo_banner {
  display: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.banner_logo {
  float: left;
  display: inline-block;
  width: auto;
  height: 100%;
  vertical-align: top;
  margin-left: 13.5%;
}

.banner_text {
  float: right;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-right: 13.5%;
}

#section_third p {
  margin-top: 30px;
}

#section_third h2 {
  text-align: center;
  margin: auto;
  color: #D4D4D4;
  padding-top: 30px;
}

footer {
  border-top: 2px solid #922d2a;
  height: 100px;
}

footer p {
  margin-top: 50px;
  color: #D4D4D4;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #D4D4D4;
}

#contact_body h1 {
  margin-top: 30px;
  text-align: center;
  color: #D4D4D4;
  margin-bottom: 20px;
}

#contact_body p {
  text-align: center;
  color: #D4D4D4;
}

#contact_body .underline {
  width: 60%;
  max-width: 700px;
}

.container {
  min-height: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

#mail {
  display: block;
  height: 75px;
  width: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.no_style_link {
  color: #D4D4D4;
  text-decoration: none;
}

#mail_div:hover p {
  color: #C63D2D;
  transition: 1s;
}

.top_margin {
  margin-top: 30px;
}

.logo_row {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#linkedin:hover {
  color: #4875B4;
  transition: 1s;
}

#twitter:hover {
  color: #33CCFF;
  transition: 1s;
}

#experience_body {
  background-color: #FAFAFA;
}

#exp_header {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #FAFAFA;
}

.experience_section {
  background-color: #FAFAFA;
}

#experience_section_first {
  border-top: 2px solid #922d2a;
  border-bottom: 2px solid #922d2a;
}

.exp-txt {
  width: 40%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid #922d2a;
}

.exp-txt-small {
  display: none;
}

.experience_section h1 {
  color: #2B2B2B;
  text-align: center;
}

.exp-imgs {
  width: 59%;
  display: inline-block;
}

.experience-logo {
  height: auto;
  width: 40%;
  max-width: 40%;
  display: inline-block;
  margin-top: 2.75%;
  margin-bottom: 2.75%;
  margin-left: 7.5%;
}

.logo-txt {
  height: 20%;
  display: inline-block;
  margin-top: 2.75%;
  margin-bottom: 2.75%;
  margin-left: 7.5%;
  color: black;
  vertical-align: top;
  display: none;
  text-align: center;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

#exp-txt-2 {
  border-left: 2px solid #922d2a;
  border-right: 0px solid black;
}

.edu-logo {
  height: 150px;
  width: auto;
  max-width: 25%;
  border: 1px solid black;
  margin-left: 7.5%;
  margin-top: 100px;
  display: inline-block;
}

#logo-11 {
  margin-left: 30%;
}

.jump {
  display: block;
  position: relative;
  top: -74px;
}

#small_body {
  display: none;
}

@media (max-width: 800px) {
  #header_logo {
    display: none;
  }

  #header-logo-small {
  display: inline-block;
  position: absolute;
  top:2%;
  left: 2%;
  height: 73px;
  width: auto;
  }

  header nav {
    padding-left: 100px;
  }
}


@media (max-width: 700px) {
/*  #header_logo {
    display: none;
  }

  header nav {
    width: 100%;
    left: 0px;
    padding-left: 0px;
  }

  header nav a {
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.1em;
    text-align: center;
  }*/

  #do-scroll-small {
    display: inline-block;
  }

  #do-scroll {
    display: none;
  }

  .exp-txt {
    width: 100%;
    display: block;
    border-right: 0px solid black;
    border-bottom: 2px solid #922d2a;
  }

  .exp-imgs {
    width: 100%;
    display: block;
  }

  .exp-txt {
    display: none;
  }

  .exp-txt-small {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .body_logo {
    width: 35%;
    margin-left: 10%;
  }

  #small_body {
    margin-top: 20px;
    display: block;
  }

  .logo_row {
    display: none;
  }

  .logo_banner {
    display: none;
  }

  #middle-logo {
    margin-left: 30%;
  }

  #contact_body {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {

  #header-logo-small {
    display: none;
  }

  header nav a {
    width: 39%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    font-size: 1.1em;
    height: 50%;
    line-height: normal;
    padding-top: 10px;
  }

  header nav {
    width: 100%;
    left: 0px;
    padding-left: 0px;
  }

  header {
    height: 75px;
  }

  p {
    width: 90%;
    text-align: center;
    margin: auto;
  }
}
